.card {
    background: #4f0d0d;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 100px;
    transition: all 0.2s ease-in-out 0s;
  }

@media (max-width: 1000px){
    .card{
        margin-bottom: 8vw;
    }
}
  .card:hover{
    background: #5c2121;
  }
  .card .image {
    max-width: 100%;
  }
  .card .details {
    padding: 50px 40px 60px 40px;
  }
  @media (max-width: 400px) {
    .card .details {
      padding: 40px 30px 50px 30px;
    }
  }
  .card .description {
    max-width: 260px;
    margin-top: 25px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.23px;
    line-height: 31px;
  }

  .card .description::selection{
    background: #fff ;
    color: #d22222 ;
    text-shadow: 0px 0px 1px #000;
  }
  .card .name {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }