.footer {
    padding: 80px 0;
    background-color: #efefef;
  }
  @media (max-width: 700px) {
    .footer {
      padding: 50px 0;
    }
  }
  .footer .col-900 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
  }
  @media (max-width: 700px) {
    .footer .col-900 {
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  .footer .copyright {
    font-weight: 600;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 0.5px;
  }
  .footer .copyright>a{
    color: #000;
  }
  .footer .menu {
    margin: 0;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
  }
  @media (max-width: 700px) {
    .footer .menu {
      margin-top: 30px;
    }
  }
  .footer .item {
    margin: 0 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 2px;
    list-style: none;
    font-weight: 600;
    font-size: 14px;
  }
  .footer .item a {
    color: #000;
  }
  @media (max-width: 700px) {
    .footer .item {
      margin: 0 15px;
    }
  }
  .footer .item:last-of-type {
    margin-right: 0;
  }
  .footer .item:first-of-type {
    margin-left: 0;
  }
  .footer .item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #d22222;
    visibility: hidden;
    transition: all 0.2s ease-in-out 0s;
    transform: translateX(-100%);
  }
  .footer .item:hover:after {
    visibility: visible;
    transform: translateX(0);
  }
  